<div class="col-lg-12 footer_line_img"></div>
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 na_pd_le" id="left_div">
    <h1 class="footer_heading">Get the Free Gymscanner.com mobile app!</h1>
    <article class="footer_heading_art" style="font-size:16px;">Just enter your email and we will email the link to open from your device</article>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 social_icon padding_art">
        <div class="col-lg-3 col-md-3 col-sm-2 col-xs-4 padding_art"><img src="themes/user/images/ios.png"></div>
        <div class="col-lg-3 col-md-3 col-sm-2 col-xs-4 padding_art"><img src="themes/user/images/android.png"></div>
        <div class="col-lg-3 col-md-3 col-sm-2 col-xs-4 padding_art"><img src="themes/user/images/windows.png"></div>

    </div>
</div>
