.btn.btn-danger {
    color: #ffffff;
    background-color: #8c2526;
    background-image: linear-gradient(to bottom, #8c2526, #C12E2A);
    border-color: #B92C28 #B92C28 #B92C28;
}
.btn.btn-danger:hover {
    color: #ffffff;
    background-color: #8c2526;
    background-image: linear-gradient(to bottom, #C12E2A, #C12E2A);
    border-color: #B92C28 #B92C28 #B92C28;
}