body{ font-family:"MyriadPro-Regular", "Myriad Pro Cond", "Myriad Pro Light", "Myriad Web Pro"; font-size:14px;}
@font-face { font-family: "Alpaca Scarlett Demo";
        src: url('../fonts/663909913-Alpaca-Scarlett-Demo.eot');
        src: url('../fonts/663909913-Alpaca-Scarlett-Demo.eot?#iefix') format('embedded-opentype'),
        url('../fonts/663909913-Alpaca-Scarlett-Demo.svg#Alpaca Scarlett Demo') format('svg'),
        url('../fonts/663909913-Alpaca-Scarlett-Demo.woff') format('woff'),
        url('../fonts/663909913-Alpaca-Scarlett-Demo.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
	
@font-face {
    font-family: 'TwCenMTBold';
    src: url('../fonts/tcb____.eot');
    src: url('../fonts/tcb____.eot') format('embedded-opentype'),
         url('../fonts/tcb____.woff') format('woff'),
         url('../fonts/tcb____.ttf') format('truetype'),
         url('../fonts/tcb____.svg#TwCenMTBold') format('svg');
}
@font-face {
    font-family: 'TwCenMTCondensedRegular';
    src: url('../fonts/tccm___.eot');
    src: url('../fonts/tccm___.eot') format('embedded-opentype'),
         url('../fonts/tccm___.woff') format('woff'),
         url('../fonts/tccm___.ttf') format('truetype'),
         url('../fonts/tccm___.svg#TwCenMTCondensedRegular') format('svg');
}

@font-face {
	font-family: 'MyriadPro-Regular';
	src: url('../fonts/MyriadPro-Regular.eot?') format('eot'), 
	     url('../fonts/MyriadPro-Regular.otf')  format('opentype'),
	     url('../fonts/MyriadPro-Regular.woff') format('woff'), 
	     url('../fonts/MyriadPro-Regular.ttf')  format('truetype'),
	     url('../fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
}

@font-face {
    font-family: 'ArialNarrowBold';
    src: url('../fonts/arialnb.eot');
    src: url('../fonts/arialnb.eot') format('embedded-opentype'),
         url('../fonts/arialnb.woff') format('woff'),
         url('../fonts/arialnb.ttf') format('truetype'),
         url('../fonts/arialnb.svg#ArialNarrowBold') format('svg');
}
       @font-face {
        font-family: "Tw Cen MT Condensed Extra Bold";
        src: url('../fonts/534851075-3688978425.eot');
        src: url('../fonts/534851075-3688978425.eot?#iefix') format('embedded-opentype'),
        url('../fonts/534851075-3688978425.svg#Tw Cen MT Condensed Extra Bold') format('svg'),
        url('../fonts/534851075-3688978425.woff') format('woff'),
        url('../fonts/534851075-3688978425.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }@font-face {
	font-family: '779';
	src: url('../fonts/779.eot');
	src: url('../fonts/779'), url('../fonts/779.woff') format('woff'), url('../fonts/779.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_2821">Text with this font applied</p> */
.fontsforweb_fontid_2821 {font-family: '779' !important;}
.header-bg { background-color:#FFF; min-height:65px; width:100%; padding:10px;/*-webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.52);
-moz-box-shadow:0px 5px 5px 0px rgba(50, 50, 50, 0.52);box-shadow:0px 5px 5px 0px rgba(50, 50, 50, 0.52);*/ z-index:9; position:relative;}
.sy-pager{ display:none!important;}
.serach_gym{  padding:0px 0px 10px 0px;  background-color:#dee6e8; border-radius:10px;min-height:240px; z-index:9;}    
.heading_gym{ color: #FFFFFF; font-size:23px; font-family:Alpaca Scarlett Demo; margin:0px 0px 0px 0px; padding:10px 0px 6px 10px; background:#8c2526; border-radius:10px 10px 0px 0px;}
.search_bg{/*background-color:#791112;*/ padding:8px 0px; margin:5px 0px; }
.search_bg_1{background-color:#eb3d01; font-weight:bold; padding:5px 17px; margin:5px 0px 20px 0px; color:#fff; text-transform:capitalize; font-size:16px;}
.check_box_bg{margin:6px 0px;}
.glyphicon-star{ font-size:20px; padding-bottom:5px;}
.search_bg select{ padding:8px 5px; z-index:9999;    background: #fff/*url(../images/sele_bg.png) no-repeat scroll -690px*/ ;line-height: 1; border: 1px #d0dedf solid; border-radius:4px; overflow:hidden;
 -moz-appearance: none; text-indent: 0.01px;    text-overflow: ''; appearance: none; -webkit-appearance: none;  }
.search_bg select option {color: black;background:#fff; border:0px;}
.mar_top{ margin-top:25px; margin-bottom:25px;}
.gym_cnt{/*background-color:#f4f4f4;border:#e0e0e0*/ margin: 0px 4px;  solid 1px; padding:1% 4%; min-height:324px;}
.gym_cnt h2{margin-top:10px; font-family: 'TwCenMTCondensedRegular'; font-size:22px; color:#5f5d5e }
.img_fg{margin:0px 0px 10px 0px; -webkit-box-shadow: 0px 0px 10px 0px rgba(10, 10, 10, 1);
-moz-box-shadow:    0px 0px 10px 0px rgba(10, 10, 10, 1);
box-shadow:         0px 0px 10px 0px rgba(10, 10, 10, 1); border: 2px solid #fff;}
.button_more{background-color:#87191a; padding:5px 10px; width:100%; border:none; color:#fff; font-size:18px; margin:10px 0px;}
.desktop {display: block; }
.mobile {display: none; margin-left: 10px; }

.search_bg {
    /* background-color: #791112; */

    font-family: serif;
}
.button_more_1{background:none;float:left;font-family: 'TwCenMTCondensedRegular'; color:#8a2626; border:none; font-size:20px; margin:0px;}



.padding_art{ padding:0% 1%; margin:1% 0%;}
.footer{background:#f0f0f0; width:100%; position:relative; z-index:100}
.footer_nav{width:auto;}
.footer_nav ul{padding:0px;   margin:10px 0px 5px 0px;float:left}
.footer_nav li{ margin:0px; list-style:none; float:left;}
.footer_nav li a{text-decoration:none;padding:0px 7px; color:#000; font-size:15px; border-right:1px solid #000;}
.footer_nav li a:hover{color:#8c2526;}
.footer_redbg{width:100%; background:#8c2526; padding:8px 0px; float:left; color:#fff; font-size:18px; margin:0px 0px; border-bottom:1px solid #8c2526;}
.add_fc{background-color: #6a8387; border: medium none; color: #FFFFFF;font-size: 14px; padding: 5px 20px; width: 100%; border-radius:5px;}
.search_gym_button{background-color: #8c2526;border: 1px solid transparent; text-transform: uppercase; color: #FFFFFF;font-size: 14px; padding: 5px 20px;  margin: 15px 0 10px; width: 100%; border-radius:5px;}
.search_gym_button:hover{ background-color: #ebebeb;border-color: #adadad !important;color: #333;}
.adv_search{float:left; margin: 0 1%;}
.adv_search input[type="checkbox"]{   margin: 4px 0;  position: absolute; background:#fff; border:thin solid #ccc;}
.adv_search label{  color: #000; font-family:Tw Cen MT Condensed Extra Bold;   font-size: 14px;   font-weight: normal;   margin:0px 6px 0px 19px;}
.ctry_flg{margin:3px 10px; padding:3px 5px; border:none;}
.footer_heading{font-size:32px; color:#000; padding:15px 0px 10px 0px; margin:0px;    font-family: "Tw Cen MT Condensed Extra Bold";}
.footer_heading_art{font-size:18px; color:#333; padding:0px; margin:0px;  }
.send_input{margin-top: 32px;width: 100%;}
.send_input input{width:100%;} .form-group_1{width:80%;} .form-group_1 input{width:99%; padding:18px 10px;}
.social_icon{margin-top:20px;}
.count_time{background:#000; padding:15px 0px 0px 0px }
.count_time h1{color:#fff; padding:0px 0px 10px 0px; text-align:center; margin:0px; font-size:33px;}
.art_min_cnt{min-height:108px; text-align:justify; font-family: 'TwCenMTCondensedRegular'; font-size:18px; color:#605e5f; line-height:19px;}
.navbar-nav > li > a{ font-family: 'TwCenMTCondensedRegular'; font-size:20px ; padding-top:2px; padding-bottom:2px;color:#1f1f1f;}
#subsc_form input{height: 36px;background-color:#fff}

/*-------------------inner pages-----------------------------*/

.footer_line_img{background:url(../images/footer_line.png) repeat-x; height:2px; margin-top:10px;}
.serach_result { margin-top: -640px;}
.serach_inner {background-color: #DEE6E8;border-radius: 5px;padding:0px 0px 10px 0;z-index: 9;margin:0px 0px 10px 0px;}
.righ_pnl{border-radius:5px;border:1px solid #e0e0e0; float:left; padding:0px; background:#fff; margin-bottom:10px}
.fillter_bg{background:#87191a; padding:0px; margin:0px; border-radius:5px 5px 0px 0px;}
.fillter{float:right;  padding: 10px ; border-right:1px solid #833a3a}
/*.fillter input[type="checkbox"]{   margin: 2px 0;  position: absolute; background:#fff; border:thin solid #ccc;}
*/.fillter label{  color: #edbcbc; font-family:Arial, Helvetica, sans-serif; margin:0px;   font-size: 14px;   font-weight: normal;  }
.fillter select{margin:3px 0px 0px 0px;}
.fillter input[type=checkbox]:not(old)){ width: 28px; margin  : 0;  padding : 0;  opacity : 0;}
.fillter input[type=checkbox]:not(old) + label{ display : inline-block; padding-left : 28px; background : url('../images/checks.png') no-repeat 0 0;  line-height  : 24px;}
.fillter input[type=checkbox]:not(old):checked + label{ background-position : 0 -24px;}
.fillter input[type="checkbox"] { display: none;}
.organize{font-size:18px; color:#fff; padding:9px 0px 0px 0px;}
.show_all_rslt{font-size:20px; padding:12px 0px ; margin:0px; font-weight:bold; color:#666;} 
.search_result{min-height:150px; background:#f4f4f4; margin:0px; padding:0px 0px 0px 10px}
.search_result2{min-height:150px; background:#fff; margin:0px;}
.search_result_img{border:1px solid #ccc; border-radius:5px; margin:10px 0px; padding:0px; overflow:hidden;}
.search_result_head{font-size:18px; color:#000; padding:10px 0px 0px 0px; }
.search_result_add{font-size:14px; color:#666; line-height:22px; padding:0px; margin:0px; }
.search_result_map{font-size:16px; color:#037897; padding:5px 0px 10px 0px; }
.search_result_star{padding:10px 0px 5px 0px;text-align:right; margin:0px; }
.search_result_doller{padding:0px 0px 10px 0px; text-align:right }
.search_result_doller span{ margin:0px 5px;}
.demo_wrapper {width: 100%;margin: 0 auto;}
/*.social_icons{float:right;padding:0px; }*/
.social_icons ul{  margin:0px; padding:0px;}
.social_icons li{ float:left; margin:0px 3px; list-style:none; padding:0px;}
.no-padding{padding:0px;}
.no-margin{margin:0px;}
.form-group{font-size:15px; color:#000;}
#search_form select{ padding:8px 5px 5px 5px; z-index:9999;    background: #fff;/*url(../images/sele_bg.png) no-repeat scroll -686px  rgba(255, 255, 255, 255)*/; line-height: 1; border: 1px #d0dedf solid; border-radius:4px; 
overflow:hidden ;  -moz-appearance: none !important;  text-indent: 0.01px;    text-overflow: ''; appearance: none;  -webkit-appearance: none;  }

#search_form input{ padding:8px 5px 5px 5px; z-index:9999;    background: #fff;/*url(../images/sele_bg.png) no-repeat scroll -686px  rgba(255, 255, 255, 255)*/; line-height: 1; border: 1px #d0dedf solid; border-radius:4px; 
overflow:hidden ;  -moz-appearance: none !important;  text-indent: 0.01px;    text-overflow: '';   }

#search_form select option {color: black;background:#fff; border:0px;}
.navbar-toggle .icon-bar{display:block;width:22px;height:2px;border-radius:1px; background:#8c2526;}
.modal-header{margin: 20px 10px 15px 0px;
padding: 10px;}
.modal-content h1{font-family: ; font-size:16px; color:#000; padding:10px 5px ; margin: 0px;}
.modal-content{ background:#e0e0e0; border-radius:15px;}.modal-dialog{margin:100px auto ;}
.gym_details{padding: 10px 0px;}
.modal-header h4{ font-size:28px; text-align:center; color:#8a171c;text-transform:uppercase; font-weight:bold; padding: 0px;font-family: 'TwCenMTCondensedRegular';}
.checkbox{background:#87191a; border-radius:0px 0px 15px 15px; min-height: 70px; padding:10px 45px; color:#fff;}
.login_forgotpassword{float:right; margin-right:35px; margin-bottom:12px;}
.login_forgotpassword a{color:#87191a;}
.login_forgotpassword lable{margin-top:10px;}
	#state, #city{background:#fff/*url("../images/sele_bg.png") no-repeat scroll -774px center rgba(255, 255, 255, 255 ) !important*/;}
.form-group input{margin:0px 20px;}
#email_frm{width:75%;}
#email_frm input{ width:92%; height:36px; padding:5px 10px; }
#profile_view_nagure h2{width:180px;margin-top:0%;}
#profile_view_nagure p{padding:0px 10px; margin-top:5px;}
.prof_frm{float:left; width:100%;}
.prof_fst_div{float:left;width:20%; margin-left:5px;}
.prof_sec_div{float:left;width:75%}

.main_page_tabs{width:26%; margin-right:5%;}
#example-form label { font-family: 'TwCenMTCondensedRegular'; font-size:18px; width:150px;}
#example-form input{ padding: 6px 10px;
    width: 270px; margin:5px 0px; border:1px solid #ccc;}
#example-form select { width:70px; padding:3px 2px 3px 5px; margin:5px 0px; border:1px solid #ccc;}
.card_div{padding:0px; margin-top:90px;}
.error{ font-family:Arial, Helvetica, sans-serif !important; color:#F00; font-size:12px !important; }
@media screen and (max-width: 1200px){

    .desktop {display: none; }
    .mobile {display: block; }
    #navbar > li.ip_detect > img {
        display: none;
    }

}
li.ip_detect {
    /*left: 6px;*/
}



@media screen and (max-width: 1024px){
}
	#search_form select{background:#fff/*url("../images/sele_bg.png") no-repeat scroll -706px center rgba(255, 255, 255, 255)*/;}
	
@media screen and (max-width: 980px){
	.card_div{padding:0px; margin-top:10px;}
	#search_form select{background:#fff/*url("../images/sele_bg.png") no-repeat scroll -569px center rgba(255, 255, 255, 255)*/;}
	.serach_result{margin-top:-290px;}
	
}
@media screen and (max-width: 800px){
}
@media screen and (max-width: 768px){
	.card_div{padding:0px; margin-top:10px;}
	.fillter{padding:5px 18px;}
}
@media screen and (max-width: 640px){
	.main_page_tabs{width:auto; margin-right:auto;}
	#search_form select{background:#fff/*url("../images/sele_bg.png") no-repeat scroll -330px center rgba(255, 255, 255, 255)*/;}
	.fillter{padding:8px;}
}
@media screen and (max-width: 525px){
	
	.main_page_tabs{width:auto; margin-right:auto;}
	#search_form select{background:#fff/*url("../images/sele_bg.png") no-repeat scroll -518px center rgba(255, 255, 255, 255)*/;}
	.serach_result {    margin-top: -160px;}
	.search_result_star { text-align: left;padding: 3px 0 5px;}
.glyphicon-star {    font-size: 16px;}#state, #city{background:#fff/*url("../images/sele_bg.png") no-repeat scroll -518px center rgba(255, 255, 255, 255 ) !important*/;}
}
@media screen and (max-width: 400px){
	.main_page_tabs{width:auto; margin-right:auto;}
}
@media screen and (max-width: 360px){
	#state, #city{background:#fff/*url("../images/sele_bg.png") no-repeat scroll -636px center rgba(255, 255, 255, 255 ) !important*/;}
		#search_form select{background:/*url("../images/sele_bg.png") no-repeat scroll -636px center rgba(255, 255, 255, 255));*/#fff;}
		.serach_gym{margin-top:-124px;}
		.serach_result{margin-top:-110px;}
}
@media screen and (max-width: 320px){
	#search_form select{background:/*url("../images/sele_bg.png") no-repeat scroll -636px center rgba(255, 255, 255, 255));*/#fff;}
	#state, #city{background:#fff;/*url("../images/sele_bg.png") no-repeat scroll -672px center rgba(255, 255, 255, 255 ) !important;*/}
	
	
}

@media screen and (min-width: 1024px){

.na_pd_l{ padding:0px!important;}
.na_pd_le{ padding-left:0px!important;}
.serach_gym{ width:99%;}

}
@media screen and (-webkit-min-device-pixel-ratio:0)
{   .padding_art{ padding:0% 0%;}
    #element { properties:value; } 
}
.mar_top5{ margin-top:5px;}


/***************       feedback    ***************/
#feedBackForm{
    bottom: 26px;
    padding-left: 0;
    position: relative;
    right: 11px;
    width: 231px;

}
#feedBackForm h3{
    color: #8c2526;
    font-family: "Trebuchet MS";
	}

#feedBackForm p{
    line-height: 14px;
    padding: 0px 0;
	font-size:11px;
	font-weight:normal;
	color:#7d7d7d;
	width:216px;
}	

#feedBackForm ul{
    float: left;
    margin-left: -39px;
	margin-top:-16px;
}

#feedBackForm ul li{
    float: left;
    width: 100%;
	list-style-type:none;
}

#feedBackForm label{
    color: #8c2526;
    font-family: "Trebuchet MS";
    font-size: 16px;
    font-weight: 800;
    position: relative;
    top: 10px;
}

#feedBackForm .txtbox{
    float: left;
    height: 33px;
    border: 1px solid #8c2526;
    width: 210px;

}
#show-me{
    position: fixed;
    top: 108px;
	left:0;
    z-index: 2147483647;
}	

a#hidefeedback-tab{
    bottom: 15px;
    height: 103px;
    left: 231px;
    outline: medium none;
    position: relative;
    top: -24px;
	margin-left: 234px;
	margin-top: -23px;
	float: left;
	
	
}	

.feedback-panel{
-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-bottom-right-radius: 0.5em;
    border-color: #ccc #ccc #ccc -moz-use-text-color;
    border-image: none;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px 0;
    padding: 23px 23px 0;
    position: fixed;
    top: 109px;
    width: 260px;
    z-index: 2147483647;
	}
#btnShowModal .feedimage { 
	position:fixed;
	cursor:pointer;
    float:left; 
    top: 280px; 
	z-index:1000;
}
.payment_part{
    float: left;
    margin-left: 20px;
    margin-top: 20px;
	width:100%;

}
#email_frm{
   margin-left: -24px;
}

#feedBackForm .removebut{
	color: white;
	font-size: 18px;
	background: #8c2526;
	border-radius: 4px;
	padding: 3px 25px 3px 25px;
	margin-left:8px;

}
#error_username{
	color: rgb(175, 65, 74); 
	margin-left: 30px; 
	font-weight: bold;
}
#error_password, #error_password_customer_form  {
	color: rgb(175, 65, 74); 
	margin-left: 30px; 
	font-weight: bold;
}

#addgym #select_arrow{
	background: url("../images/DownArrow.png") no-repeat scroll right center rgb(255, 255, 255);
    float: left;
    overflow: hidden;
    padding: 0;
    width: 24%;

}
#addgym #select_arrow1{
	background: url("../images/DownArrow.png") no-repeat scroll right top rgba(0, 0, 0, 0);
    float: left;
    overflow: hidden;
    padding: 0;
    width: 30%;
}
#adduser h2{
	float:none;
	margin-bottom: 0;
	font-size:18px;
}
#adduser .form_big {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #c0c0c0;
    border-radius: 3px;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);
    float: left;
    height: 38px;
    margin-bottom: 15px;
    margin-top: 5px;
    width: 30%;
}
#adduser .sub_green {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #87191a;
    color: #87191a;
    display: block;
    float: left;
    font-family: gothic;
    font-size: 16px;
    font-weight: bold;
    height: 30px;
    margin-bottom: 30px;
    margin-left: 0;
    padding: 1px 20px;
}
#payment{
	font-family:gothic !important;
	width: 43%;
}
#payment #example-form label {
    font-size: 16px;
    width: 160px;
	font-weight:normal;
	font-family:gothic !important;
	text-transform:uppercase;
}
#payment .btn-default {
    background-color: #fff;
    border: 1px solid #87191a;
    border-radius: 0 !important;
    color: #87191a;
    height: 24px;
    padding-top: 0;
    width: 100px;
}
#viewoffers{
	font-family:gothic !important;
}
#viewoffers .search_gym_button {
    background-color: #fff;
    border: 1px solid #8c2526;
    border-radius: 0;
    color: #8c2526;
    font-size: 14px;
    margin: 15px 0 10px;
    padding: 0 20px;
    text-transform: uppercase;
    width: 100%;
	height: 24px;
	font-weight:bold;
	width:200px;
}
#viewoffers .add_gym_wra h2 {
    color: #605f5f;
    display: block;
    float: left;
    font-size: 16px;
    text-transform: uppercase;
    width: 208px;
}
#gymdetails{

}
#gymdetails .search_gym_button {
    background-color: #fff;
    border: 1px solid #8c2526;
    border-radius: 0;
    color: #8c2526;
    font-size: 14px;
    height: 24px;
    margin: 0 0 10px !important;
    padding: 3px 5px;
    text-transform: uppercase;
    width: 170px !important;
	font-weight: bold;
}
#gymdetails .search_bg_1 {
    background-color: #fff;
    border: 1px solid #8c2526;
    color: #8c2526;
    font-size: 16px;
    font-weight: bold;
    margin: 5px 0 20px !important;
    padding: 0 4px;
    text-transform: uppercase;
}
#gymdetails .exclusive{
	margin:auto;
	width:165px;
}
#gymdetails .exclusive a:hover{
	text-decoration:none;
}
.stButton .youtube{
    background-image: url("../images/you_t_icon.png") !important;
	height:36px !important;
	width:36px;
}
.stButton .facebook {
    background-image: url("../images/face_icon.png") !important;
	height:36px !important;
	width:36px;
}
.stButton .twitter {
    background-image: url("../images/twtr_iocn.png") !important;
	height:36px !important;
	width:36px;
}
.stButton .instagram  {
    background-image: url("../images/pin_icon.png") !important;
	height:36px !important;
	width:36px;
}
#viewofr{
	background-color: #fff !important;
}
#viewofr .ofr_wraper {
    background: none repeat scroll 0 0 #fff !important;  
}
#viewofr .row_cal{
	background: none repeat scroll 0 0 #faf9f9;
}
#viewofr .btn-default {
    background-color: #fff;
    color: #87191a;
}

div#st_btn {
    top: 8px;
    position: relative;
}
/*#viewofr .btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid #87191a;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.42857;
    margin-bottom: 0;
    margin-top: 10px;
    padding: 0px 22px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
	border-radius:0px;
	height: 26px;
	text-transform:uppercase;
	width: 190px;
}*/
#asofr{
	font-family: gothic;
}
#asofr h1 {
    background-color: #87191a;
    color: #fff;
    font-family: gothic;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0;
    padding-bottom: 10px;
    padding-left: 10px !important;
    padding-right: 10px;
    padding-top: 10px;
    text-transform: uppercase;
}
.gymheading{
    color: #fff;
    font-family: gothic;
    font-size: 18px;
    font-weight: bold;
	text-transform:uppercase;
}
#share_view_offer .st_sharethis_large .stButton .stLarge {
    display: inline-block;
    height: 38px;
    position: relative;
    width: 38px;
	background-image: url("../images/shar-icon.png") !important;
	background-repeat: no-repeat;
}
#share_view_offer .st_facebook_large .stButton .stLarge {
    display: inline-block;
    height: 38px;
    position: relative;
    width: 38px;
	background-image: url("../images/fb-icon.png") !important;
	background-repeat: no-repeat;
}
#share_view_offer .st_twitter_large .stButton .stLarge {
    display: inline-block;
    height: 38px;
    position: relative;
    width: 38px;
	background-image: url("../images/twitter-icon.png") !important;
	background-repeat: no-repeat;
}
#share_view_offer .st_instagram_large .stButton .stLarge {
    display: inline-block;
    height: 38px;
    position: relative;
    width: 38px;
	background-image: url("../images/ph-icon.png") !important;
	background-repeat: no-repeat;
}
#share_view_offer .st_youtube_large .stButton .stLarge {
    display: inline-block;
    height: 38px;
    position: relative;
    width: 38px;
	background-image: url("../images/youtube-icon.png") !important;
	background-repeat: no-repeat;
}
#share_view_offer .stButton .stLarge:hover {
    background-position: 0 center;
    opacity: 0.75;
}
#blur{
    background: #fff;
    border: 10px solid #fff;
    text-align: left;
    text-transform: none;
	-webkit-backface-visibility: hidden
    margin: 15px;
    z-index: 1;
    box-shadow: 
        0px 0px 0px 10px rgba(255,255,255,1), 
        1px 1px 3px 10px rgba(0,0,0,0.2);
    transition: 
        opacity 0.4s linear, 
        transform 0.4s ease-in-out, 
        box-shadow 0.4s ease-in-out;
		text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
    color: rgba(0, 0, 0, 0);
    opacity: 0.5;
}
#add_offer_div{
	font-family:gothic !important
}
#add_offer_div .add_gym_wra h2 {
    color: #605f5f;
    display: block;
    float: left;
    font-size: 16px;
    width: 208px;
}
#add_offer_div .boxs_mn h2 {
    color: #fff;
    float: none !important;
    font-size: 12px !important;
    margin-top: 2px !important;
    text-align: center !important;
    text-transform: uppercase;
    width: auto !important;
}
#add_offer_div .add_gym_wra h1 {
    background-color: #87191a;
    color: #fff;
    font-family: gothic;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0;
    padding-bottom: 10px;
    padding-left: 10px !important;
    padding-right: 10px;
    padding-top: 10px;
    text-transform: uppercase;
}
.dash_bord .top_menu_wrapp ul li a {
    border-right: 1px solid #5b0708;
    color: #fff;
    display: block;
    font-family: gothic;
    font-size: 15px;
    font-weight: bold;
    padding: 0 10px;
    text-transform: uppercase;
}
.dash_bord .my_left {
    float: right;
    width: 55%;
}
.dash_bord .users_wrapp {
    float: right;
    width: 20%;
}
.dash_bord .my_left a{ 
	font-family:gothic;
	font-weight:bold;
}
#addgym .add_gym_wra h1 {
    background-color: #87191a;
    color: #fff;
    font-family: gothic;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0;
    padding-bottom: 10px;
    padding-left: 10px !important;
    padding-right: 10px;
    padding-top: 10px;
    text-transform: uppercase;
}
#adduser  h1 {
    background-color: #87191a;
    color: #fff;
    font-family: gothic;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0;
    padding-bottom: 10px;
    padding-left: 10px !important;
    padding-right: 10px;
    padding-top: 10px;
    text-transform: uppercase;
}
#adduser  h1 a {
	cursor:pointer;
}
.dash_bord .viw_usr {
    color: #fff;
    display: block;
    font-family: gothic;
    font-size: 15px;
    font-weight: bold;
    margin-left: 3px;
    text-transform: uppercase;
}
#addgym h1 {
    background-color: #87191a;
    color: #fff;
    font-family: gothic;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0;
    padding-bottom: 10px;
    padding-left: 10px !important;
    padding-right: 10px;
    padding-top: 10px;
    text-transform: uppercase;
}
.countdown_times{
	color: #fff;
    font-family: gothic;
    font-size: 20px;
}
#counts{
	float:left;
}
.countvalues{
	margin:0 25%;
	width:100%;
}
#count_coln{
	float: left;
    margin-top: 35px;
}
@media screen and (max-width: 1199px){
	.countvalues{
		margin:0 19%;
		width:100%;
	}
}
@media screen and (max-width: 750px){
	.countvalues{
		margin:0 15%;
		width:100%;
	}
}
@media screen and (max-width: 639px){
	.countvalues{
		margin:0 10%;
		width:100%;
	}
}
@media screen and (max-width: 580px){
	.countvalues{
		margin:0 5%;
		width:100%;
	}
}
@media screen and (max-width: 530px){
	.countvalues{
		margin:0 1%;
		width:100%;
	}
}

@media screen and (max-width: 499px){
	#counts {
		float: none;
	}
	#count_coln{
		float: none;
		margin-top: 0;
	}
}
.faqtext{
	font-family:'gothic';
}
.faqtext .faq_qtns{
	color: #1919ff;
    float: left;
    margin-bottom: 10px;
    text-decoration: underline;
}
.faqtext .faq_heading{
    font-family: gothic;
    font-weight: bold;
}
.faqtext .text{
    float: left;
    margin-bottom: 20px;
    padding: 10px 0;
	background-color:#f4f5f7;
	width:100%;
}
.privacy{
	font-family: gothic;
}
.bold{
	font-weight:bold;
}
.privacy .strong{
	font-size:15px;
}
.terms{
	font-family:gothic;
}
.terms strong{
	font-size:15px;
}
.view_page h1{
	border-right: 1px solid #5b0708;
    color: #fff;
    display: block;
    font-family: gothic !important;
    font-size: 15px !important;
    font-weight: bold !important;
    padding: 0 10px;
    text-transform: uppercase;
	cursor:pointer;
}

/* new edit 02-03-2015 */
body {
  font-family: 'display_reg';
}

.navbar-nav > li > a {
font-family: 'display_light';
font-size: 18px;
}
.add_fc {
font-family: 'display_med';
margin-top: -5px;
}

.heading_gym {
/*font-family: 'display_light';*/
}
#category select {
    text-align:center;
    padding-top: 10px;
font-family: serif;
}

.adv_search label {
font-family: 'display_light';
}
.count_time h1 {
font-family: 'display_light' !important;
}
.countdown_times {
font-family: 'display_thin';
}
.nav-pills > li > a {
font-family: 'display_light';
}
.footer_nav li a {
font-family: 'display_light';
}
.navbar-form .form-group {
font-family: 'display_light';
}
.container.na_pd_le {
font-family: 'display_thin';
}
.footer_heading_art {
  font-family: 'display_reg';
}
footer article.text-center {
  font-family: 'display_reg';
}
.search_bg_1 {
font-family: 'display_light';
}
#progressbar {
  display: none;
}
/* end new edit 02-03-2015 */