.dd-selected {padding: 0;}
/*.dd-select {background-color: #ffffff}*/
.dd-selected-text {line-height: normal !important;}
.dd-container {margin-top: -12px;}
.navbar-nav.navbar-right:last-child {margin-top: 15px;}
/*.dd-option {height: 65px !important;}*/
.dd-option label {line-height: 0px !important;}
.dd-container {
    margin-top: -13px;
    margin-left: 5px;
}