.DrawLine_Horizontal_Separator{background-color:#dfdfdf;height:1px;width:100%;display:block}.footerLinks{color:#fff;text-transform:uppercase}.footerLinks:hover{text-decoration:none}.Body{min-height:700px}.lblError{font-size:12px;font-family:Arial;color:Red}.lblValidation{font-size:11px;font-family:Arial;color:Red}.lblMessage{font-size:12px;font-family:Arial;color:Red}.feedback-panel{width:245px;position:fixed;top:55px;left:-292px;padding:23px;background-color:#fff;-webkit-border-bottom-right-radius:.5em;-moz-border-bottom-right-radius:.5em;border-bottom-right-radius:.5em;z-index:3000000000000;border:1px solid #ccc;border-left:0}.feedback-panel p{line-height:14px;padding:5px 0}.feedback-panel h1{color:#563b73;text-transform:inherit}.feedback-panel h2{color:#00a7e5;font-size:14px;text-transform:inherit;margin:15px 0;line-height:16px}.feedback-panel h5{color:#888;font-size:11px;text-transform:inherit;margin:15px 0;line-height:16px}.feedback-panel h5 span{color:#34aade;font-size:12px;text-transform:inherit;font-style:normal!important;display:block}.feedback-panel .fd-type{font-size:11px;margin:0 0 15px}.feedback-panel span{color:#888;font-size:10px;font-style:italic}.feedback-panel label{color:#34aade;font-size:13px;padding:0 0 7px}.feedback-panel .txtbox{width:225px!important;}.feedback-panel a.hidefeedback-tab{background:url(images/got-questions-tab1.png);display:block;height:129px;left:97%;position:absolute;float:right;text-indent:-9999px;width:41px;outline:none;display:none;top:-1px}.feedback-panel .cancelbtn{height:30px;width:89px;font-family:'Exo-Medium' ,sans-serif;background:#ccc url(../../images/v2/follow-btn.png) repeat-x top;border:1px solid #ccc;color:#FFF;font-weight:500;float:left;cursor:pointer;text-transform:uppercase}.feedback-panel .cancelbtn:hover{background:url(../../images/v2/btn-hover.png) repeat-x top;border:1px solid #ccc}.feedback-panel .sendbtn{height:30px;width:89px;font-family:'Exo-Medium' ,sans-serif;background:#34aade url(../../images/v2/er-login-btn.png) repeat-x top;border:1px solid #34aade;color:#FFF;font-weight:500;float:left;cursor:pointer;text-transform:uppercase;margin:0 5px 0 0}.feedback-panel .sendbtn:hover{background:url(../../images/v2/btn-hover.png) repeat-x top;border:1px solid #ccc}
/*.feedback-panel a.showfeedback-tab{background:url(images/got-questions-tab1.png);
display:block;height:129px;left:59px;position:relative;float:right;text-indent:-9999px;width:45px;outline:none;top:-23px}*/
.feedback-panel a.showfeedback-tab{
    background: url(images/got-questions-tab1.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: right;
    height: 137px;
    left: -6px;
    outline: medium none magenta;
    position: inherit;
    text-indent: -10013px;
    top: 55px;
    width: 49px;
}

/************* feedback form **************************************/
