@font-face {
    font-family: 'display_bold';
    src: url('pfdindisplaypro-bold.eot');
    src: url('pfdindisplaypro-bold.eot?#iefix') format('embedded-opentype'),
         url('pfdindisplaypro-bold.woff') format('woff'),
         url('pfdindisplaypro-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'display_light';
    src: url('pfdindisplaypro-light.eot');
    src: url('pfdindisplaypro-light.eot?#iefix') format('embedded-opentype'),
         url('pfdindisplaypro-light.woff') format('woff'),
         url('pfdindisplaypro-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'display_med';
    src: url('pfdindisplaypro-med.eot');
    src: url('pfdindisplaypro-med.eot?#iefix') format('embedded-opentype'),
         url('pfdindisplaypro-med.woff') format('woff'),
         url('pfdindisplaypro-med.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'display_medital';
    src: url('pfdindisplaypro-medital.eot');
    src: url('pfdindisplaypro-medital.eot?#iefix') format('embedded-opentype'),
         url('pfdindisplaypro-medital.woff') format('woff'),
         url('pfdindisplaypro-medital.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'display_reg';
    src: url('pfdindisplaypro-reg.eot');
    src: url('pfdindisplaypro-reg.eot?#iefix') format('embedded-opentype'),
         url('pfdindisplaypro-reg.woff') format('woff'),
         url('pfdindisplaypro-reg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'display_thin';
    src: url('pfdindisplaypro-thin.eot');
    src: url('pfdindisplaypro-thin.eot?#iefix') format('embedded-opentype'),
         url('pfdindisplaypro-thin.woff') format('woff'),
         url('pfdindisplaypro-thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'display_thinital';
    src: url('pfdindisplaypro-thinital.eot');
    src: url('pfdindisplaypro-thinital.eot?#iefix') format('embedded-opentype'),
         url('pfdindisplaypro-thinital.woff') format('woff'),
         url('pfdindisplaypro-thinital.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'display_xthin';
    src: url('pfdindisplaypro-xthin.eot');
    src: url('pfdindisplaypro-xthin.eot?#iefix') format('embedded-opentype'),
         url('pfdindisplaypro-xthin.woff') format('woff'),
         url('pfdindisplaypro-xthin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}