#progressbar {
    background: white;
    float: right;
    height: 8px;
    margin-right: 35px;
    margin-top: -25px;
    width: 23%;

}
#undefined > ul {
    width: 183px;
    text-align: center;
}
#progressbar1 {
    background: white;
    float: right;
    height: 8px;
    margin-right: 35px;
    margin-top: -25px;
    width: 23%;

}

.ui-progressbar.beginning .ui-progressbar-value {
    background: green;
}

.ui-progressbar.middle .ui-progressbar-value {
    background: green;
}

.ui-progressbar.end .ui-progressbar-value {
    background: green;
}

.Validation {
    width: 330px;
    height: 35px;
    display: none; /* IE10 Consumer Preview */
    font-size: middle;
    font-weight: bold;
    color: #AF414A;
    padding-top: 10px;
    margin-left: 30px;

}

.spesial_for_alrede_exist {
    margin-left: 10%;
}

.ui-progressbar .ui-progressbar-value {
    height: 100%;
    margin: 0px !important;
}

input[type="radio"], input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
    width: 20px;
    height: 20px;
}

#undefined > ul > li > a > label:first-letter {
    text-transform: uppercase;
}

#undefined > div > a > label:first-letter {
    text-transform: uppercase;
}

ul.dd-options.dd-click-off-close {
    width: 160px;

    top: 38px;
    right: -4px;
}

#undefined > ul > li {
    width: 183px;
}

#undefined > ul {
    width: 183px;
}
#undefined > div > a > img {
    margin-left: 9px;
    margin-top: 3px;
    height: 20px;
    width: 24%;
}
img.dd-selected-image {
    margin-left: 9px;
    margin-top: 3px;
}

@media screen and (max-width: 1200px) {
    #right_div #email_frm input {
        float: left;
        height: 36px;
        padding: 5px 9px;
        width: 40%;
        margin-bottom: 10px;
        margin-left: 15px;
    }
}
#undefined > div > input {
    color: #000000;
}
label.dd-selected-text {
    font-family: 'display_light';
    font-size: 18px;
    font-weight: 100;
    left: -8px;
    top: 3px;
}
label {
    position: relative;
    top: 1px;
}
input#R2 {
    top: 5px;
    position: relative;
}
input#R1 {
    top: 5px;
    position: relative;
}
label.dd-selected-text {
    font-family: 'display_light';
    font-size: 17px;
    left: -8px;
    top: 3px;
    font-weight: 100;
    color: rgb(140, 38, 34);
}
#undefined > div {
    padding-right: 15px;
}
@media screen and (max-width: 1175px){
    ul.dd-options.dd-click-off-close {
        width: 160px;
        top: 38px;
        right: -21px;
    }
}

@media screen and (max-width: 1175px){
    ul.dd-options.dd-click-off-close {
        width: 160px;
        top: 38px;
        right: -21px;
    }
}
@media screen and (max-width: 400px){
    ul.dd-options.dd-click-off-close {
        width: 160px;
        top: 38px;
        right: -21px;
    }
}
@media screen and (max-width: 320px){
    ul.dd-options.dd-click-off-close {
        width: 160px;
        top: 38px;
        right: -4px;
    }
    .navbar-form {
        /* padding: 10px 15px; */
        margin-top: 8px;
        margin-right: -48px;
        margin-bottom: 8px;
        margin-left: -43px;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
    }
}
@media screen and (max-width: 375px){
    ul.dd-options.dd-click-off-close {
        width: 160px;
        top: 38px;
        right: -4px;
    }
}