#grid-container li {width: 98%; padding: 10px; background-color: rgba(126, 126, 126, 0.4); color: black; cursor: pointer; list-style-type: none; margin-bottom: 10px; }
.static-block-container.new-holder.span12 {
    width: 104%;
    margin-left: -2%;
}

select {
    margin-top: 13px;
    width: 22%;
}

input.input-medium {
    height: 21px;
    margin-top: 2px;
}
.manage_buttons {
    margin-top: 1%;
}
textarea.html-container {
    margin: 0px 0px 10px;
    width: 98%;
    height: 77px;
    margin-left: 2px;
    resize: none;
    margin-bottom: 1px;
}
.body {
    background-color: white;
    margin-left: -7%;
    margin-top: 3%;
    /* border: 0; */
}

.navbar-inner {
    height: 29px;
    min-height: 33px;
    padding-bottom: 3px;
    border-radius: 0;
}