@charset "utf-8";

.clear{clear:both; height:0px; display:block;}
.left_r{ float:left;}
.right_r{ float:right;}
.na_bor{ border:none;}
.center{ text-align:center;}
.na_mar_r{ margin-right:0px !important;}
.bg_white{ background:#FFF!important;}
.line_dr{ background:#cdcdcd; height:1px !important; margin-bottom:10px}
.line_gra{background:#f5f5f5; height:1px !important; clear:both;}
.line_m10{background:#f5f5f5; height:1px !important; clear:both; margin-top:10px; margin-bottom:10px;}
.na_pd{ padding:0px !important;}
.tp_p15{ padding-top:15px;}
.img_100 img{ width:100%;}
.marg_t15{ margin-top:15px;}

.tp_mr15{ margin-top:15px;}
.wi100pr{ width:100%; height:100%;}
.marg_r10{ margin-right:10px;}
.center_mar{margin:5px auto 5px auto; width:80%;}
.row_cen p{text-align:center !important; float:none !important;color: #979696 !important;margin: 0 !important;}
@media screen and (max-width: 1024px){
	.na_pd_l{ padding:0px!important; background:#0C0 !important;}
}

.add_gym_wra {
	background-color: #FFF; padding:12px;
	border: 1px solid #d0d0d0; margin-top:30px !important;
	margin: auto;-webkit-box-shadow: 0 0 8px 1px rgba(0,0,0,.2);
box-shadow: 0 0 8px 1px rgba(0,0,0,.2);
}
.add_gym_wra h1 {
	  font-family: 'TwCenMTCondensedRegular';
	font-size: 19px; padding:10px ; padding-left:10px !important;
	color: #FFF; text-transform:uppercase; margin-top:0px; 
	background-color: #87191a; font-weight:normal; margin-bottom:10px;
}
.add_gym_wra h1 a{color: #FFF;}
.ad_form_wr{ background:#f5f6f6; border: solid 1px #c8c8c8; padding-top:20px;margin-bottom:5px;}
.add_gym_wra  h2 {
	/*font-family: 'TwCenMTCondensedRegular';*/
	font-size: 21px;
	color: #605f5f;
	float: left;
	width: 208px;
	display: block;
}
.ad_form_wr p{ margin-top:22px; float:left;}

.form_big{
	width:52%;
	float:left;
	height:38px;background:#FFF;
	margin-bottom: 15px; border:solid 1px #c0c0c0;-webkit-box-shadow: 0 0 4px 1px rgba(0,0,0,.1);
box-shadow: 0 0 4px 1px rgba(0,0,0,.1);-webkit-border-radius:3px;
border-radius:3px;
margin-top: 12px;
}
.form_sm{width:40%;
	float:left;
	height:34px; background:#FFF; border:solid 1px #c0c0c0; 
	margin-bottom: 15px;-webkit-box-shadow: 0 0 4px 1px rgba(0,0,0,.1);
box-shadow: 0 0 4px 1px rgba(0,0,0,.1);-webkit-border-radius:3px;
border-radius:3px;padding:0px 5px;margin-top: 22px;
	}
.form_x_sm{width:82px;
	float:left;
	height:34px; background:#FFF; border:solid 1px #c0c0c0; 
	margin-bottom: 15px;
	-webkit-box-shadow: 0 0 4px 1px rgba(0,0,0,.1);
box-shadow: 0 0 4px 1px rgba(0,0,0,.1);-webkit-border-radius:3px;
border-radius:3px;
	
	}	
	
.r_addmore{ padding:2px 22px 2px 22px; display:block; background:#87191a; color:#FFF; font-size:18px; font-family: 'TwCenMTCondensedRegular'; border:solid 1px #b27172; margin-bottom:18px;}
.member_wrapp {
	width:52%;
	float:left; margin-left:208px;
}
.price_bx { padding:14px 15px 14px 15px;
	background-color: #FFF; margin-top:9px;-webkit-box-shadow: 0 0 8px 1px rgba(0,0,0,.2);
box-shadow: 0 0 8px 1px rgba(0,0,0,.2); margin-bottom:24px;
}

.first_f { width: 30.2771855010661%; float:left;margin-right: 6px; } /* 142 / 469 */
.second_f{ width: 30.2771855010661%; float:left;} /* 142 / 469 */
.third_f{ width: 36.03411513859275%; float:right;} /* 169 / 469 */
.price_bx h3 { font-family: 'TwCenMTCondensedRegular';
	font-size:22px;margin-top: 20px;
	color: #605f5f;
}
.price_bx h3 span{font-size:15px; color:#efb837;}
.price_off_box {
	width: 100%;
	background-color: #f8f8f8;
	border: 1px solid #bebebe;
	padding-top: 11px;
	padding-bottom: 11px; text-align:center;
}
.price_off_box h4 {font-family: 'TwCenMTCondensedRegular';
	font-size: 28px;
	color: #d99d0f;
}
.addv_r_wrapp {
	float: left;
	width: 75%; margin-bottom:14px;
	margin-top: 19px;
}
.addv_r_wrapp  input {
	float: left;
}



.price_off_box h4 span{font-size:13px; color:#605f5f;}
.map_gym {
	/*margin-left: 208px;*/
	width: 75%;
	/*height: 242px;
	border: 1px solid #a8a8a8;*/
	margin-bottom: 22px;
}
.suplr h5 {font-family: 'TwCenMTCondensedRegular';
	font-size:20px; text-transform:uppercase;
	color: #666; float:left; display:block; margin-left:15px;margin-bottom:15px; margin-top:-3px;
}
.suplr input {
	float: left;
	margin-top:15px;
}

.suplr{}



.first_rd { width: 14.393939393939395%; float:left; } /* 95 / 660 */
.second_rd { width: 13.484848484848486%;float:left; } /* 89 / 660 */
.third_rd { width: 11.212121212121212%;float:left; } /* 74 / 660 */
.fourth_rd { width: 17.575757575757575%; float:left;} /* 116 / 660 */
.fifth_rd { width: 13.03030303030303%;float:left; } /* 86 / 660 */

.addv_r_wrapp h6 {font-family: 'TwCenMTCondensedRegular';
	float: left;
	display: block;
	font-size: 13px;
	color: #7A7A7A;
	text-transform: uppercase;margin-left:12px; margin-top:2px;
}
.sub_green{font-family: 'TwCenMTCondensedRegular'; font-size:20px; display:block; padding:5px 40px 5px 40px; background:#87bb33; color:#FFF; margin-left: 19%; margin-bottom:30px; border:none;}
.sub_red{font-family: 'TwCenMTCondensedRegular'; font-size:20px; display:block; padding:5px 40px 5px 40px; background:#87191a; color:#FFF; margin-left: 19%; margin-bottom:30px; border:none;}

/*-------------------15-7-2014---------------------*/
.dash_bord {
	background-color: #FFF; padding:12px;
	border: 1px solid #d0d0d0; margin-top:30px !important;
	margin: auto;-webkit-box-shadow: 0 0 8px 1px rgba(0,0,0,.2);
box-shadow: 0 0 8px 1px rgba(0,0,0,.2);
}
.dash_bord h2{font-family: 'TwCenMTCondensedRegular';display: block; text-transform:uppercase;color:#FFF; font-size:16px; padding-left:1px;}


.top_menu_wrapp{ padding:10px 10px 10px 0px;background:#87191a;}
.radio_left{ float:left; width:33%;}
.radio_left input {
	float: left;
}
.radio_left p {float: left;	display: block;	padding-right: 10px;padding-left: 10px;color: #FFF;font-size: 15px;}
.top_menu_wrapp ul {display: block;float: left;padding-left: 10px;margin-bottom:0px;}
.top_menu_wrapp ul li {float: left;display: block;}
.users_wrapp {
	float: right;
	width: 35%;
}
.users_wrapp h6{
	margin-top:4px;
}
.count_n {
	height:23px; margin-right:10px;
	width: 30px;
	text-align: center;
	background-color: #591111; float:left;
	padding-top: 3px;
}
.name_wrapp {background-color: #191919;	margin-top:3px;
	padding-top:4px;padding-bottom:4px;}
.name_wrapp h2{margin-top:4px !important;margin-bottom:3px !important;}
.count_n h6{ color:#FFF;}

.top_menu_wrapp ul li a {font-family: 'TwCenMTCondensedRegular';display: block; padding:0px 10px 0px 10px ;color:#FFF; text-transform:uppercase; font-size:19px; border-right:1px solid #5b0708;}
.user_le{}
.user_le img{ float:left;}
.viw_usr {font-family: 'TwCenMTCondensedRegular';display: block; color:#FFF; text-transform:uppercase; font-size:17px; display:block; margin-left:3px; float:left;}
.my_left{ float:right; width:25%;}
.my_right{ float:right; width:45%;}
.first_gy { width: 8.333333333333334%; float:left; border-right:1px solid #e8e8e8;  padding-left:5px;} /* 91 / 975 */
.second_gy { width: 9.538461538461539%;float:left;border-right:1px solid #e8e8e8;padding-left:5px; } /* 93 / 975 */
.third_gy { width: 8.82051282051282%;float:left;border-right:1px solid #e8e8e8;padding-left:5px; } /* 86 / 975 */
.fourth_gy { width: 8.205128205128205%;float:left;border-right:1px solid #e8e8e8;padding-left:5px; } /* 80 / 975 */
.fifth_gy { width: 8.615384615384615%;float:left;border-right:1px solid #e8e8e8;padding-left:5px; } /* 84 / 975 */
.sixth_gy { width: 8.615384615384615%;float:left;border-right:1px solid #e8e8e8;padding-left:5px; } /* 84 / 975 */

.sev_gy { width:15.55263157894737%;float:left;border-right:1px solid #e8e8e8;padding-left:5px; } /* 153 / 456 */
.eigh_gy { width:8.175438596491227%;float:left;border-right:1px solid #e8e8e8; padding-left:5px;} /* 92 / 456 */
.nine_gy { width:20.271929824561403%;float:left; padding-left:5px;} /* 211 / 456 */

.first_gy img{ width:100%; height:auto; border:solid 1px #c3bebe; margin-top:4px;}
.dimound_details {
	width: 100%;
	border: 1px solid #c6c5c5; margin-bottom:3px;
}
.dimound_details p{ margin-top:25%; font-size:15px;}
.hei_n{ min-height:90px;}
.line_m{background:#c6c5c5; height:1px !important; clear:both; margin-top:10px;}

.supp_r_wr{ float:left;}

.wi_wrapp{overflow:scroll;overflow-y:hidden;}
.error h1{font-size: 70px;color: grey;text-align: center;padding:25px;}
.logo_img img{ width: 100PX;}
.view_p{
 width:40px;
 height:30px;
 display:block;
 border:1px solid #d6d6d6;
 background-color: #e8e8e8;
 background-image: url(../images/view-icon.png);
 background-repeat: no-repeat;
 background-position: center center;cursor:pointer; margin-right:5px; float:left;
}
.edit_p{
 width:40px;
 height:30px;
 display:block;
 border:1px solid #d6d6d6;
 background-color: #e8e8e8;
 background-image: url(../images/edit_p.png);
 background-repeat: no-repeat;
 background-position: center center;cursor:pointer; margin-right:5px; float:left;
 }
.delete_p{width:40px;
 height:30px;
 display:block;
 border:1px solid #d6d6d6;
 background-color: #e8e8e8;
 background-image: url(../images/delete_p.png);
 background-repeat: no-repeat;
 background-position: center center;cursor:pointer; margin-right:5px; float:left;
 }
.active_p{
 width:40px;
 font-family:Tahoma, Geneva, sans-serif;
 font-size:14px;
 color:#FFF;
 height:30px;
 display:block;
 border:1px solid #d6d6d6;
 background-color: #87bb33;
 cursor:pointer;
 margin-right:5px;
 float:left;
 -webkit-border-radius:5px;
 border-radius:5px;
 background-image: url(../images/active.png);
 background-repeat: no-repeat;
 background-position:center center;
}
.sas_p{
 width:40px;
 height:30px;
 display:block;
 border:1px solid #d6d6d6;
 background-color: #fb9800;
 cursor:pointer;
 margin-right:5px;
 float:left;
 -webkit-border-radius:5px;
 border-radius:5px;
 background-image: url(../images/dislike.png);
 background-repeat: no-repeat;
 background-position:center center;
}
.user_p{
 width:40px;
 height:30px;
 display:block;
 border:1px solid #d6d6d6;
 background-color: #e8e8e8;
 background-image: url(../images/user.png);
 background-repeat: no-repeat;
 background-position: center center;cursor:pointer;float:left;
}
.pending_p{width:40px;
 height:30px;
 display:block;
 border:1px solid #d6d6d6;
 background-color: #48A4FF;
 background-image: url(../images/lock.png);
 background-repeat: no-repeat;
 background-position: center center;cursor:pointer; margin-right:5px; float:left;
 } 


.dislike_red_p{width:40px;
 height:30px;
 display:block;
 border:1px solid #CCC;
 background-color: #D0040A;
 background-image: url(../images/dislike.png);
 background-repeat: no-repeat;
 background-position: center center;cursor:pointer; margin-right:5px; float:left;
 }
.txtsty1{
	font-family:Tahoma, Geneva, sans-serif;
 	font-size:14px;
 	color:#0D4C86;
 	display: block;
 	float: left;
 	margin-top: 0px !important;
}
.txtsty2{
	font-family:Tahoma, Geneva, sans-serif;
 	font-size:14px;
 	color:#D61414;
 	display: block;
 	float: left;
 	margin-top: 0px !important;
}
.user_gy { width: 15.205128205128205%;float:left;border-right:1px solid #e8e8e8;padding-left:5px; }
.act_gy { width:20.271929824561403%;float:left; padding-left:5px;margin-left: 25px;} 
/*--------------------------------*/
@media (max-width:992px) {
	
	.addv_r_wrapp{ width:100% !important;}
	.map_gym{ margin-left:auto; margin-right:auto; width:80%;}
	/*------*/
	.my_left{ float:none; width:100%}
	.dimound_details p{ font-size:12px;}
	
	}
@media (max-width:662px) {
	.first_rd,.second_rd,.third_rd,.fourth_rd, .fifth_rd { float:none; width:80%;}
	.member_wrapp{ width:100%; float:none; margin:auto;}
	/*------*/
	.radio_left p{ width:80%;}
	.top_menu_wrapp ul li a{ border:none;}
	.dimound_details, .name_wrapp{ width:650px;}0
	.wi_wrapp{overflow:scroll !important;}
	.scrool_mo{overflow:scroll;overflow-y:hidden;}
	
}
@media (max-width:523px) {
	.form_big{ float:none; margin:auto; width:100%;}
	.form_sm{ float:none; width:100%;}
	.member_wrapp{ float:none; margin:auto !important; width:100%;}
	.form_x_sm{ float:none; width:100%;}
	.sub_green{ float:none; margin:auto; margin-bottom:25px;}
	.count_n{ float:none;}
	.my_left img{margin-top: 2px;width: 16px;}
	
	
	}
/*----------18-8-2014--------------*/
.new_bg{ background:url(../images/pushup.png) no-repeat right top !important;min-height: 379px !important;
    margin-bottom: 22px !important;}
.stylep p{color:#87191a; font-size:22px;font-family: 'TwCenMTCondensedRegular'; margin-top:10px;}
.error{ color:red !important;}

/*--------------------------------------22-8-2014------------------------------------------*/
.select_gym_wrapp{}
.select_gym_wrapp h1{ font-family: 'ArialNarrowBold'; font-size:23px; color:#87191a; padding:31px 0 31px 0; text-transform:uppercase;}
.select_gymp{ height:38px; width:80%; margin-top:31px;font-family: 'MyriadPro-Regular'; font-size:14px; color:#999; background:#FFF;  border:1px solid #CCC;}
.top_clr_he{}
.table_right{ width:850px;float:left;}
.boxs_mn { width:140px; height:100px; /*float:left; margin-right:5px;*/ padding-top:7px; text-align:center !important;}
.top_clr_he{ background:url(../images/g1.png) no-repeat center;}
.top_clr_he1 { background:url(../images/g2.png) no-repeat center;}
.top_clr_he2 { background:url(../images/g3.png) no-repeat center;}
.top_clr_he3 { background:url(../images/g4.png) no-repeat center;}
.top_clr_he4 { background:url(../images/g5.png) no-repeat center;}
.boxs_mn h2{ font-size:12px !important; color:#FFF; text-transform:uppercase; width:auto!important;text-align: center!important; margin-top:2px !important; float:none !important;}
.boxs_mn p{ font-size:10px !important;color:#FFF; margin-top:0px;padding-right:5px;padding-left:5px;}

.select_gym_wrapp.table_right table tr td{ border:1px solid #dcdcdc ; width:130px;}
.te_name{background-color:#FFF;height:26px; border:1px solid #dcdcdc !important; width:90% !important; margin-top:5px; margin-bottom:5px;-webkit-border-radius:12px !important;border-radius:12px !important; padding-left:8px; font-family:Tahoma, Geneva, sans-serif; font-size:11px; color:#666; text-align:center;}
.usr_ofr_td{background-color:#FFF;height:40px;margin-top:5px; margin-bottom:5px; /*padding-left:8px;*/ text-align:center;}
.select_gym_wrapp .table_right table tr{ background:#faf9f9; margin-bottom:250px; text-align:center;}
.table_right table{ float:left;}
.plus_btp{ background-image:url(../images/plus_pr.png); background-repeat:no-repeat; background-position:center center;border:none!important; background-color:transparent !important; float:left !important; width:26px !important; height:26px ;margin-left:5px; }
.min_btp{ background-image:url(../images/min_pr.png); background-repeat:no-repeat; background-position:center center;border:none !important; background-color:transparent !important; float:left !important;width:26px !important; height:26px; margin-left:5px;}
.ofr_wraper{ background:#faf9f9!important; padding:}
.addd_offer{font-family: 'TwCenMTCondensedRegular'; font-size:20px; display:block; padding:4px 30px 4px 30px; background:#87bb33; color:#FFF; margin-right:2%; margin-bottom:30px; border:none; float:right; margin-top:10px;-webkit-border-radius:20px;
border-radius:20px;}
.ofr_wraper table,tr,td {border: 1px solid #f0f0f0}

